body{background-color:#5B8999 ;}
h1{color: #3B0919; background-color:#FFE181; text-align: center; font-size: 85px; font-family: arial; text-decoration: underline; }
h2{font-size: 50px; font-weight: bold; background-color:; text-align: center; color:#000000  }
a {text-decoration: none;}
a style{font-size: 50px; color: #e18800;font-weight: bold;}
p{font-size:20px; font-family:cambria; background-color: #E3E1A2  }	
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
#F7E0A3